
#header{
  margin-top: 60px;
}

#main{
  @include breakpoint(small only) {
    margin-top: 2rem;
  }
}

.img-circle{
  border-radius: 50%;
  border: 1px solid #dedede ;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.22);
  margin-bottom: 1rem;
}

.txt{
  font-family: 'Cormorant Garamond', serif;
  font-size: 19px;
  @include breakpoint(small only) {
    margin-top: 3rem;
  }
}

.hidden { 
  font-size: 0; 
}

.postfade {
  position: relative;
  display: block;
  border-bottom: thin solid #666;
  
}

.postfade:after {
  content: '';
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient( 
    rgba(255, 255, 255, 0) 57%, 
    rgba(255, 255, 255, 1) 100% );
}


ul.verticalLine {
  list-style-type: none;
  background-color: white;
  margin-left: 0;
  @include breakpoint(small only) {
    border-left: none;
    width: auto;
    text-align: center;
  }

}

li a {
  font-family: 'Roboto Slab', serif;
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  @include breakpoint(small only) {
    float: middle;
    border: solid thin #333;
    margin-bottom: -20px;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
    opacity: 0.9;
  }
}

li a:hover{
  background-color: #555;
  color: white;
}

.verticalLine{
  border-left: thin solid #555;
}

#formula {

  text-align: center;
  margin-bottom: 120px;
  margin-top: 90px;
  font-family: 'Roboto Slab', serif;
}


footer {
  
  background-color: #efefef;
  width: 100%;
  padding-bottom: 8px;
}

footer p {
  text-align: center;
  padding-top: 13px;
  
}

.social {
  margin-right: .25rem;
  text-align: center;
}

.social.linkedin{
  background-color: #007bb5;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  #linkedinimg{
    width: auto;
    height: auto;
    max-width: 90px; 
    max-height: 60px;
    float: left;
  }
}

.social.linkedin:hover, .social.linkedin:focus {
  background-color: #006291;
  color: white;
}

.social.google-plus {
  background-color: #D1423B;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  #gplusimg{
    width: auto;
    height: auto;
    max-width: 90px; 
    max-height: 60px;
    float: left;
  }
}

.social.google-plus:hover, .social.google-plus:focus {
  background-color: #be3221;
  color: white;
}

.social > .fa {
  color: white;
  margin-right: .25rem;

}