
#header{
  margin-top: 60px;
}

#main{
  position: relative;

  @include breakpoint(small only) {
    margin-top: 2rem;
  }
}

.img-circle{
  border-radius: 50%;
  border: 1px solid #dedede ;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.22);
  margin-bottom: 1rem;
}

.txt{
  @include breakpoint(small only) {
    margin-top: 3rem;
  }
}

.hidden { 
  font-size: 0; 
}

.postfade {
  position: relative;
  display: block;
  border-bottom: thin solid #666;
  height: 400px;
  overflow: hidden;

  @include breakpoint(small only) {
    height: 400px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient( 
      rgba(255, 255, 255, 0) 57%, 
      rgba(255, 255, 255, 1) 100% );
  }

  .postfade-inner {
    display: inline-block;
  }
}

#but{
  position: absolute;
  text-align: center;
  z-index: 10;
  bottom: -22px;
  margin-top: -24px;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-family: "FontAwesome";
  color: white;
  background-color: #666;
  
  @include transition(all .25s ease);
  
  @include breakpoint(small only) {
  }
}

#but:hover{
  background-color: #888;
  color: white;
}


ul.verticalLine {
  list-style-type: none;
  background-color: white;
  margin-left: 0;
  @include breakpoint(small only) {
    border-left: none;
    width: auto;
    text-align: center;
    
  }

}

li a {
  @include transition(all .15s ease);
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  @include breakpoint(small only) {
    float: middle;
    border: solid thin #333;
    margin-bottom: -50px;
    margin-top: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
    @include transition(all .15s ease);
    opacity: 0.9;
  }
}

li a:hover{
  background-color: #555;
  color: white;
}

.verticalLine{
  border-left: thin solid #555;
}

#formula {

  text-align: center;
  margin-bottom: 120px;
  margin-top: 90px;
  
}

input#submit{
  width: 67px;
  text-align: center;
  border-top: thin solid  #999;
  padding: 3px;
  color: #333;
  background-color: #B8B8B8;
}


footer {
  
  background-color: whitesmoke;
  width: 100%;
  padding-bottom: 8px;
}

footer p {
  text-align: center;
  padding-top: 13px;
  
}

.social {
  margin-right: .25rem;
  text-align: center;
  padding: 2px;
  img{
    padding: 1px;
    height: auto;
    width: 36px;
    height: 36px;
  }
  &.linkedin{
    background-color: #007bb5;
    color: white;
 
    &:hover, &:focus {
      background-color: #006291;
      color: white;
    }
  }
  &.google-plus {
    background-color: #DC4E41;
    color: white;
      
    &:hover, &:focus {
      background-color: #be3221;
      color: white;
    }
  }
      &.social > .fa {
        color: white;
        margin-right: .25rem;
      }
}