
.txt{

margin-top: 90px;
}

ul {
  
  list-style-type: none;
  width: 170px;
  top: 250px;
  left: 120px;
  background-color: white;
}

li a {
  
  display: block;
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #555;
  color: white;
}


#formula {

  text-align: center;
  margin-bottom: 120px;
  margin-top: 90px;
  
}


footer {
  
  background-color: whitesmoke;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 5px;
}