

body{
  background-color:white !important;
  font-size: 85;
  text-align: center;
  

}
.callout {
  position: absolute;
  border: 2px solid lightslategrey ;  
  top: 150px;
  width: 634px;
  margin-bottom: 0px;
  padding-bottom: 430px !important;
  left: 390px;
  

}


.thumbnail{

  margin-bottom: 100%;
  position: absolute;
  width: 216px;
  padding-left: 0;
  padding-left: 0px;
  top: 200px;
  left: 70px;


}

.information{
  position: absolute;
  width: 200px;
  height: 100px;
  top: 430px;
  right: 980px;

}

.row{
position: relative;
top: 250px;
left: 70px;
width: 60%;



}


.footer {
  position: relative;
  background-color: lightgray;
  top: 400px;
  width: 100%;
  height: 100%;
}